<mat-card class="inputCard">
    <mat-card-header>
        <mat-card-title>Salutation Validator</mat-card-title>
        <mat-card-subtitle>enter your Salutation you want to format</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <mat-form-field class="inputSalutation">
                <input matInput [formControl]="salutation" required>
                <mat-error *ngIf="salutation.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    <div class="container">
        <button mat-raised-button color="primary" [disabled]="salutation.invalid" (click)="formatSalutation()">format
            salutation</button>
    </div>
</mat-card>