bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.SWQ-Project/.idea/.gitignore
/.idea/.idea.SWQ-Project/.idea/encodings.xml
/.idea/.idea.SWQ-Project/.idea/indexLayout.xml
/.idea/.idea.SWQ-Project/.idea/vcs.xml
/.vs
/.vs
/.idea/config/applicationhost.config
/SWQ-Project.sln.DotSettings.user

### Angular

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
